/**
 * featured-video.scss
 *
 * Defines properties related to the Featured Video feature on the home page.
 */

.view-featured-video {
  display: block;
  .card {
    .card--content {
      .card--title {
        margin: 0 0 20px 0;
        padding: 0;
      }
      .field--name-body {
        margin: 0;
      }
      .btn {
        margin-top: 0;
      }
    }
    .field--item {
      display: block;
    }
  }
  .video-container .field--name-field-media-oembed-video {
    display: block !important;
    position: relative;
    height: 0;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
  }
}
