{# Departments/Resources list - Audience pages #}
{% if page.resources %}
  <div class="container--resources">
    {% block resources %}
      {{ page.resources }}
    {% endblock %}
  </div>
{% endif %}
