{# School Board and Superintendent - District page #}
{% if page.school_board_and_superintendent %}
  <div class="col-xs-12 container--school-board-and-superintendent">
    {% block school_board_and_superintendent %}
      {{ page.school_board_and_superintendent }}
    {% endblock %}
  </div>
{% endif %}
